@model string

<div class="container justify-content-center align-items-center margin-bottom-40px">
    <p class="lead text-center">Для завершения регистрации вам было отправлено сообщение с дальнейшими инструкциями на электронную почту @Model.</p>
</div>