<div>
    @if (ViewData.ModelState.IsValid)
    {
        <div class="container justify-content-center align-items-center margin-bottom-40px">
            <p class="lead text-center">Регистрация завершена успешно.</p>
        </div>
    }
    else
    {
        <div class="container justify-content-center align-items-center margin-bottom-40px">
            <p class="lead text-center">Регистрация не завершена. Попробуйте снова.</p>
        </div>
    }
</div>